/* src/App.css */
/* src/index.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

form {
  margin: 20px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

select{
  margin-left: 15px;
}

input, select, button {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

textarea {
  width: 300px;
  height: 100px;
}

div {
  margin: 20px;
}

@media (max-width:500px) {
  select{
    margin-top: 15px;
    margin-left: 0px;
  }
}
